$whitesmoke: #f6f6f6;
$orange: #df8611;
$red: #c70505;
$error-red: #e47979;
$searchbar-blue: #2bbdf7;
$olive: #aaaa67;
$background-olive: #F6F6F6;
$gray: #808080;
$addstep-blue: #6bb4df;
$publishmunch-red: #d60a0a;
$delete-red: #fc0000;
$edit-orange: #fcc755;

$text-black: #404040;
$text-gray: #898989;

$background-offwhite: #f6f6f6;
$background-white: #fbfbfb;

$border-gray: #dbdbdb;

$shadow-gray: #cccccc;