$whitesmoke: #f6f6f6;
$orange: #df8611;
$red: #c70505;
$error-red: #e47979;
$searchbar-blue: #2bbdf7;
$gray: #808080;


$text-offblack: #404040;
$text-lightgray: #cccccc;
$text-gray: #898989;
$text-darkgray: #646464;
$text-whitesmoke: #f6f6f6;

$background-offwhite: #f6f6f6;
$background-white: #fbfbfb;
$background-lightgray: #ebebeb;
$background-gray: #898989;
$background-darkgray: #202020;
$background-red: #d60a0a;
$background-orange: #eb8c20;

$border-gray: #dbdbdb;
$border-darkgray: #898989;

$shadow-gray: #cccccc;