* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: transparent;
  font-family: Archivo, sans-serif;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
  {
  outline: 0;
}