.comments-list {
  margin: 30px 0;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  &__item-container {
    width: 100%;
    list-style: none;
    border-top: 1px solid $border-gray;
    &:last-child {
      border-bottom: 1px solid $border-gray;
    }
  }
  &__item {
    width: 700px;
    display: flex;
    padding: 25px 10px;
  }
  &__commenter-img-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
  }
  &__commenter-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  &__postdate {
    display: inline-block;
    color: $text-gray;
  }
  &__footer {
    margin-bottom: 5px;
  }
  &__author-txt {
    color: $text-gray;
  }
  &__comment-text {
    white-space: pre-wrap;
  }
  &__open-form-button {
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 1.4rem;
    margin-top: 25px;
    background-color: $background-orange;
    color: $text-whitesmoke;
    &:disabled {
      opacity: 0.5;
    }
  }
  &::after {
    content: '';
    display: block;
    width: 90px;
    margin: 50px auto;
    border-top: 1px solid $border-gray;
  }
}