.comments-list {
  margin: 30px 0;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  &__item-container {
    width: 100%;
    list-style: none;
    border-top: 1px solid $border-gray;
    &:last-child {
      border-bottom: 1px solid $border-gray;
    }
  }
  &__item {
    width: 700px;
    display: flex;
    padding: 25px 10px;
  }
  &__commenter-img-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
  }
  &__commenter-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  &__postdate {
    font-size: 0.9rem;
    display: inline-block;
    color: $text-gray;
  }
  &__footer {
    margin-bottom: 5px;
  }
  &__author-txt {
    font-size: 0.8rem;
    color: $text-gray;
  }
  &__comment-text {
    white-space: pre-wrap;
  }
  &__open-form-button {
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 1.4rem;
    margin-top: 25px;
    background-color: $background-orange;
    color: $text-whitesmoke;
    width: 190px;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
    &:disabled:hover {
      background-color: $background-orange;
      opacity: 0.5;
    }
    &:hover {
      background-color: darken($background-orange, 10%);
    }
    &:hover:active {
      background-color: darken($background-orange, 10%);
      box-shadow: 0 0 5px darken($background-orange, 10%);
    }
  }
  &::after {
    content: '';
    display: block;
    width: 90px;
    margin: 50px auto;
    border-top: 1px solid $border-gray;
  }
  &__click-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    width: 1px;
  }
}

.comment-form {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid $border-gray;
  border-radius: 5px;
  margin-top: 20px;
  background-color: $background-offwhite;
  &__top {
    display: flex;
  }
  &__textfield-container {
    margin-left: 10px;
    width: 100%;
    height: 100%;
  }
  &__textfield {
    width: 100%;
    resize: none;
    outline: 0;
    padding: 10px;
    border: 1px solid $border-gray;
    border-radius: 5px;
    height: 150px;
  }
  &__post-button {
    background-color: $background-orange;
    color: $text-whitesmoke;
    padding: 8px 15px;
    font-size: 1.1rem;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: darken($background-orange, 10%);
    }
    &:hover:active {
      background-color: darken($background-orange, 10%);
      box-shadow: 0 0 5px darken($background-orange, 10%);
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
  }
}

.comment-error {
  margin: 5px 0;
  &__txt {
    color: $error-red;
  }
}