.navbar-container {
  display: flex;
  justify-content: center;
  background-color: $background-lightgray;
  border-bottom: 1px solid $border-gray;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-lightgray;
  height: 100px;
  width: 1600px;
  max-width: 1600px;
  &__session {
    display: flex;
    align-items: center;
    width: 125px;
    height: 50px;
  }
  &__greeting {
    display: flex;
    align-items: center;
    min-width: 150px;
    height: 50px;
    text-overflow: ellipsis;
    padding: 30px 5px;
    cursor: pointer;
  }
  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 700px;
  }
  &__button {
    text-decoration: none;
    margin: 0 7px;
    height: 23px;
    color: gray;
    &:hover {
      color: darken(gray, 30%);
    }
    &.active {
      border-bottom: 1px solid #555454;
      color: darken(gray, 30%);
    }
  }
  &__logo-container {
    max-width: 250px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  &__logo-img {
    width: 100%
  }
  &__create-recipe {
    text-decoration: none;
    border: 1px solid $border-darkgray;
    border-radius: 3px;
    color: $text-offblack;
    text-align: center;
    width: 165px;
    padding: 5px 0;
    margin-top: 5px;
    &:hover {
      background-color: darken($background-lightgray, 5%);
    }
    &:active {
      box-shadow: inset 1px 1px 5px darken($background-gray, 10%);
    }
  }
  &__search-bar {
    display: flex;
    color: $text-lightgray;
    height: 35px;
    font-size: 1rem;
    border-radius: 3px;
    margin: 0 20px;
    border: 1px solid $border-gray;
    margin-top: 7px;
  }
  &__search-bar-input {
    transition: all ease-in-out 0.6s;
    width: 200px;
    padding: 5px 10px;
    font-size: 1rem;
    border: 0;
    outline: none;
    border: 1px solid transparent;
    &:focus {
      padding: 10px;
      box-shadow: 0 0 6px $searchbar-blue;
      border: 1px solid $searchbar-blue;
    }
  }
  &__search-bar-submit {
    width: 45px;
    background-color: $background-grayish;
    border: none;
    &:hover {
      background-color: darken($background-grayish, 5%);
      cursor: pointer;
    }
  }
  &__search-bar-icon--white {
    color: $text-whitesmoke;
    ;
    font-size: 1.2rem;
  }
  &__profile-img-container {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  &__profile-img {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
    align-self: center;
  }
  &__caret {
    min-width: 15px;
    margin-left: 5px;
  }
  &__profile-overlay {
    background: transparent;
    z-index: 3;
  }
  &__wrapper {
    position: relative;
  }
  &__profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50px;
    right: 10px;
    background-color: $background-white;
    border: 1px solid $border-gray;
    border-radius: 5px;
    width: 270px;
    height: 100px;
    z-index: 4;
    cursor: default;
  }
  &__logout-button {
    position: absolute;
    right: 10px;
    top: 5px;
    border: 1px solid rgb(158, 156, 156);
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 0.9rem;
    background-color: $background-lightgray;
    cursor: pointer;
    &:hover {
      background: darken($background-lightgray, 10%);
    }
    &:active {
      outline: 0;
      box-shadow: inset 0 0 3px rgb(185, 184, 184);
    }
  }
  &__dropdown-profile {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1rem;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 4px;
    color: $text-offblack;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
  &__dropdown-create {
    width: 250px;
    height: 30px;
    border: none;
    background-color: $background-orange;
    border-radius: 4px;
    color: $text-whitesmoke;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    &:hover {
      background-color: darken($background-orange, 10%);
    }
  }
}

.lol {
  border-bottom: 1px solid $border-gray;
}