.recipe-list {
  min-width: 600px;
  margin: 0 auto;
  &__heading {
    vertical-align: baseline;
  }
  &__icon {
    margin-right: 9px;
    min-width: 20px;
    color: darken($shadow-gray, 15%);
    font-size: 1.2rem;
  }
  &__header-text {
    display: inline-block;
    font-size: 1.5rem;
  }
  &__contents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0;
    min-height: 800px;
  }
  &__item {
    list-style: none;
    width: 325px;
    height: 375px;
    margin: 25px 10px;
    border: 1px solid $border-gray;
    box-shadow: 0px 1px 10px $shadow-gray;
    overflow: hidden;
    &:hover {
      box-shadow: 0px 1px 10px;
    }
  }
  &__item-img-container {
    flex: 0 auto;
    position: relative;
    height: 250px;
  }
  &__item-placeholder {
    height: 100%;
    width: 100%;
    visibility: hidden;
  }
  &__title-container {
    height: 125px;
    padding: 23px 18px;
  }
  &__title-text {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: $text-offblack;
  }
  &__author-text {
    display: block;
    color: $text-gray;
  }
  &__item-img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
  }
}