.step {
  &__form-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    border: 1px solid $gray;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px 20px;
    background: $whitesmoke;
  }
  &__form-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__form-action-button {
    padding: 5px;
    cursor: pointer;
    margin: 10px 0;
  }
  &__form-edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $gray;
    cursor: pointer;
    height: 30px;
    &:hover {
      background-color: darken($whitesmoke, 30%);
    }
  }
  &__form-delete-button {
    border: 1px solid $red;
    background-color: $red;
    margin-top: 20px;
    padding: 5px 5px;
  }
  &__form-step-title:hover {
    text-decoration: underline;
  }
  &__add-step-button {
    display: block;
    padding: 10px 20px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid $addstep-blue;
    border-radius: 5px;
    background-color: $addstep-blue;
    cursor: pointer;
    &:hover {
      background-color: darken($addstep-blue, 10%);
      border: 1px solid darken($addstep-blue, 10%);
    }
    &:active {
      box-shadow: 0px 0px 5px darken($addstep-blue, 50%);
    }
  }
}

.step-edit {
  background-color: $background-olive;
  overflow: auto;
  min-height: 800px;
  &__container {
    margin: 50px auto;
    padding: 20px 25px;
    background-color: $whitesmoke;
    width: 900px;
    display: flex;
    flex-direction: column;
    min-height: 600px;
    border: 1px solid $gray;
    border-radius: 5px;
    font-size: 1.4rem;
  }
  &__texttitle {
    font-size: 1.2rem;
    margin-bottom: 10px;
    height: 40px;
    padding-left: 10px;
    width: 850px;
    border: 1px solid $gray;
    border-radius: 3px;
  }
  &__textbody {
    resize: none;
    font-size: 1.1rem;
    height: 450px;
    width: 850px;
    padding: 15px;
    border: 1px solid $gray;
    border-radius: 3px;
    outline: none;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
}