.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $whitesmoke;
  border-bottom: 1px solid #A2825C;
  height: 80px;
  &__session {
    margin-right: 70px;
    display: flex;
    align-items: center;
    width: 125px;
    height: 50px;
    color: gray;
  }
  &__left {
    margin-left: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
  }
  &__button {
    text-decoration: none;
    color: inherit;
    height: 23px;
  }
  &__logo {
    display: inline-block;
    background-color: $red;
    border-radius: 3px;
    color: $whitesmoke;
    padding: 13px;
    text-align: center;
  }
  &__logo-img {
    max-width: 100%;
    max-height: 100%;
  }
  &__create-recipe {
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 3px;
    color: gray;
    padding: 7px 15px;
  }
  &__create-recipe:hover {
    background-color: darken($whitesmoke, 5%);
  }
}