 .session {
   background-image: url(image-path('session-image2.jpeg'));
   background-size: cover;
   background-attachment: fixed;
   height: 800px;
   position: relative;
   overflow: hidden;
   &__container {
     display: flex;
     flex-direction: column;
     position: absolute;
     left: 75px;
     width: 350px;
     padding: 10px 30px;
     background-color: rgba(0, 0, 0, 0.5);
     height: 100%;
   }
   &__form {
     display: flex;
     flex-direction: column;
     margin-top: 100px;
     background-color: transparent;
     width: 100%;
   }
   &__input {
     background-color: white;
     border: 1px solid lightgray;
     border-radius: 5px;
     padding: 20px 10px;
     font-size: 1rem;
     height: 30px;
     width: 100%;
     margin: 0.4rem 0;
   }
   &__button {
     margin: 7px 0;
     padding: 13px;
     font-size: 1rem;
     width: 100%;
     border-radius: 5px;
     color: $whitesmoke;
     &--red {
       background-color: $red;
       color: $whitesmoke;
       border: 1px solid $red;
     }
     &--red:hover {
       background-color: darken($red, 5%);
       border: 1px solid darken($red, 5%);
       cursor: pointer;
     }
     &--orange {
       background-color: $orange;
       color: $whitesmoke;
       border: 1px solid $orange;
     }
     &--orange:hover {
       background-color: darken($orange, 5%);
       border: 1px solid darken($orange, 5%);
       cursor: pointer;
     }
   }
   &__redirect-text {
     margin-top: 5px;
     font-size: 1rem;
     color: $whitesmoke;
     &--underline {
       padding-bottom: 1px;
       border-bottom: 1px solid $whitesmoke;
     }
   }
   &__error-container {
     background: transparent;
     padding: 10px;
     list-style: none;
     margin: 5px;
     text-align: center;
     font-size: 0.9rem;
     color: $error-red;
   }
   &__error-list {
     margin: 4px 0;
   }
 }